<script>
	$(document).ready(function(){
		$("#vendor").autocomplete({
			source: $('#vendors').data('vendors')
		});
	});
</script>
<div class="span9">
	<%= form_tag manager_report_url, method: :post do %>
		<%= select_month(@month) %>
		<%= select_year(Date.today, :start_year => 2013, :end_year => Time.now.year + 10) %>
		<%= submit_tag "Обновить" %>
	<% end %>

	<%= form_tag manager_url, multipart: true do %>
		<%= @notice %></br>
		Выгрузки существуют по поставщикам: 
		<% @vendors_with_report.each do |v| %>
			<p>
				<%= v.title if !v.nil? %>
			</p>
		<% end %>
		<% if @month == Date.today %>
			<p>
				<%= content_tag "div", id: "vendors", data: {vendors: @vendor_title.to_json} do %>
				<% end %>
				Для добавления новой выгрузки выберите поставщика:
				<%= text_field_tag "vendor" %>
			</p>
			<%= file_field_tag :file %>
			<%= submit_tag "Добавить" %>
		<% end %>
	<% end %>
</div>

