<div class="span9">
	<%= form_tag manager_report_url, method: :post, remote: true do %>
		<%= select_month(Date.today) %>
		<%= select_year(Date.today, :start_year => 2013, :end_year => Time.now.year + 10) %>
		<%= submit_tag "Обновить" %>
	<% end %>
	<%= form_tag manager_url, multipart: true do %>
	<%= @notice %></br>
	<div class="vendors">
			Выгрузки существуют по поставщикам: 
			<% @vendors_with_report.each do |v| %>
				<%= v.title if !v.nil? %></br>
			<% end %></br>
	</div>
		<p>
			Для добавления новой выгрузки выберите поставщика:
			<%= select_tag "vendor", options_for_select(@vendors.map { |v| [v.title, v.id] }) %>
		</p>
		<%= file_field_tag :file %>
		<%= submit_tag "Добавить" %>
	<% end %>
</div>

