<div class="span9">
<h3>Обращения пользователей к сервису</h3>
	<%= form_tag(energosbyt_report_url, method: :get) do %>
		<%= select_tag(:report_month_id, options_for_select([["Январь", 1],["Февраль", 2], ["Май", 5],["Июнь", 6],["Июль", 7],[ "Август", 8],["Сентябрь", 9],["Октябрь", 10],["Ноябрь", 11],[ "Декабрь", 12]], @month))%>
	<div id="button_small" ><%= submit_tag "Обновить"%></div>
	<% end %>
  	<% unless @handling.size == 0 %>
  		<div class="link"><%= link_to "Скачать Excel", "/energosbyt_report.xls?report_month_id=#{@month}" %></div>
  	<% end %>
<p>Колличество запросов:
<%= @handling.size %>
</p>
</div>