.block.well.bs-component
  %h1 Новая заявка
  
  = form_for(@bid) do |f|
    %fieldset.form-horizontal
      %div.form-group
        .col-lg-5= f.label :name, "Имя клиента", class: "control-label"
        .col-lg-7= f.text_field :name, class: "form-control"
      .form-group
        .col-lg-5= f.label :phone, "Телефон клиента", class: "control-label"
        .col-lg-7= f.text_field :phone, class: "form-control"
      .form-group
        .col-lg-5= f.label :email, "Эл.почта клиента", class: "control-label"
        .col-lg-7= f.text_field :email, class: "form-control"
      .form-group
        .col-lg-5= f.label :installation_payment, "Cумма за установку системы", class: "control-label"
        .col-lg-7= f.text_field :installation_payment, class: "form-control"
      .form-group
        .col-lg-5= f.label :installation_payment_for_vendor, "Компания, устанавливающая систему", class: "control-label"
        .col-lg-7= f.select(:installation_payment_for_vendor, options_for_select([["ООО «Резервная система»", "ООО «Резервная система»"], ["ООО ЧОП «Блокпост Техно»", "ООО ЧОП «Блокпост Техно»"], ["ООО ЧОП «Команда»", "ООО ЧОП «Команда»"], ["ООО ЧОП «Блокпост Техно 1»", "ООО ЧОП «Блокпост Техно 1»"], ["ООО «Самарская мониторинговая компания «Блокпост»", "ООО «Самарская мониторинговая компания «Блокпост»"],["ООО ЧОП «Союз Блокпост»", "ООО ЧОП «Союз Блокпост»"],["ООО «Дельта-Самара»", "ООО «Дельта-Самара»"],[ "ООО «ЧОО «ЧК-1»", "ООО «ЧОО «ЧК-1»"],["ООО ЧОП «ЧК-Самара»", "ООО ЧОП «ЧК-Самара»"],["ООО «ЧОО «ЧК»", "ООО «ЧОО «ЧК»"],["ООО ЧОП «ЧК» ", "ООО ЧОП «ЧК» "],[ "ООО ЧОО «ЧК-Регион»", "ООО ЧОО «ЧК-Регион»"], ["ООО ЧОО «ЧК-2»", "ООО ЧОО «ЧК-2»"],["ООО ЧОО «ЧК-Безопасность»", "ООО ЧОО «ЧК-Безопасность»"],["ООО «ЧК-Монтаж-Телеком»  ", "ООО «ЧК-Монтаж-Телеком»"],[ "ООО ЧОО «КОКС-ОС»", "ООО ЧОО «КОКС-ОС»"],["ООО «КОКС-ТЕХНО»", "ООО «КОКС-ТЕХНО»"],["ООО ЧОП «КОКС-СО»", "ООО ЧОП «КОКС-СО»"],["ООО ЧОП «КОКС-ТС»", "ООО ЧОП «КОКС-ТС»"],[ "ООО ЧОО «Витязь-Т»", "ООО ЧОО «Витязь-Т»"], [ "ООО «Дельта-Тольятти»", "ООО «Дельта-Тольятти»"]]), {:include_blank => ''}, class: "form-control")
      .form-group
        .col-lg-5= f.label :service_payment, "Сумма за ежемесячное обслуживание", class: "control-label"
        .col-lg-7= f.text_field :service_payment, class: "form-control"
      .form-group
        .col-lg-5= f.label :service_payment_for_vendor, "Компания, обеспечивающая систему", class: "control-label"
        .col-lg-7= f.select(:service_payment_for_vendor, options_for_select([["ООО «Резервная система»", "ООО «Резервная система»"], ["ООО ЧОП «Блокпост Техно»", "ООО ЧОП «Блокпост Техно»"], ["ООО ЧОП «Команда»", "ООО ЧОП «Команда»"], ["ООО ЧОП «Блокпост Техно 1»", "ООО ЧОП «Блокпост Техно 1»"], ["ООО «Самарская мониторинговая компания «Блокпост»", "ООО «Самарская мониторинговая компания «Блокпост»"],["ООО ЧОП «Союз Блокпост»", "ООО ЧОП «Союз Блокпост»"],["ООО «Дельта-Самара»", "ООО «Дельта-Самара»"],[ "ООО «ЧОО «ЧК-1»", "ООО «ЧОО «ЧК-1»"],["ООО ЧОП «ЧК-Самара»", "ООО ЧОП «ЧК-Самара»"],["ООО «ЧОО «ЧК»", "ООО «ЧОО «ЧК»"],["ООО ЧОП «ЧК» ", "ООО ЧОП «ЧК» "],[ "ООО ЧОО «ЧК-Регион»", "ООО ЧОО «ЧК-Регион»"], ["ООО ЧОО «ЧК-2»", "ООО ЧОО «ЧК-2»"],["ООО ЧОО «ЧК-Безопасность»", "ООО ЧОО «ЧК-Безопасность»"],["ООО «ЧК-Монтаж-Телеком»  ", "ООО «ЧК-Монтаж-Телеком»"],[ "ООО ЧОО «КОКС-ОС»", "ООО ЧОО «КОКС-ОС»"],["ООО «КОКС-ТЕХНО»", "ООО «КОКС-ТЕХНО»"],["ООО ЧОП «КОКС-СО»", "ООО ЧОП «КОКС-СО»"],["ООО ЧОП «КОКС-ТС»", "ООО ЧОП «КОКС-ТС»"],[ "ООО ЧОО «Витязь-Т»", "ООО ЧОО «Витязь-Т»"], [ "ООО «Дельта-Тольятти»", "ООО «Дельта-Тольятти»"]]), {:include_blank => ''}, class: "form-control")
    %div.col-lg-10.col-lg-offset-2
    = f.submit "Отправить клиенту", class: "btn btn-success"
    = link_to 'Back', bids_path, class: "btn btn-default"

