.block
  %notice.label.label-primary= notice
  %table.table.table-striped.table-hover
    %tbody
      - pay = @bid.pay == true ? "Есть" : "Нет"
      %tr
        %td= "Имя клиента"
        %td= @bid.name
      %tr
        %td= "Телефон клиента"
        %td= @bid.phone
      %tr       
        %td= "Эл.почта клиента" 
        %td= @bid.email
      %tr
        %td= "№ договора"
        %td= @bid.contract_number 
      %tr
        %td= "Стоимость установки системы DELTA, руб"
        %td= @bid.installation_payment
      %tr
        %td= "Компания, устанавливающая систему"
        %td= @bid.installation_payment_for_vendor 
      %tr
        %td= "Стоимость ежемесячного обслуживания, руб"
        %td= @bid.service_payment 
      %tr
        %td= "Компания, обеспечивающая охрану"
        %td= @bid.service_payment_for_vendor 
      %tr
        %td= "Оплата"
        %td= pay
  = link_to 'К списку заявок', bids_path, class: "btn btn-success btn-sm"
        