<div class="span9">
 <div class="form"> <%= form_for(@vendor) do |f| %>
  <div class="edit_input">
    <%= f.label :title, "Название" %>
    <%= f.text_field :title %>
  </div>
  <td class="pbm">
    <div>Водоснабжение <%= check_box_tag :voda %></div>
  </td>
    <div>Элетричество <%= check_box_tag :electric %></div>
    <div>Газификация <%= check_box_tag :gas %></div>
  <div class="actions">
    <div id="button_small" class="update"><%= f.submit "Обновить" %></div>
  </div>
  <% end %>
</div>
</div>