<div class="span9">
	<%= form_tag report_url, multipart: true do %>
	<h3>Добавить файл с выгрузкой задолжностей жильцов</h3>
		<%= file_field_tag :file %>
		<div id="filedrag">или перенесите файл сюда</div><br>
		<output id="list"></output>
		<%= submit_tag "Добавить", id: "file_button" %>
	<% end %>
	<% if flash[:notice] %>
		<%= notice %><a href="">x</a>
		<% if flash[:notice] != "Файл успешно добавлен." %>
			<div class="link"><%= link_to "Скачать образец", sample_url %></div>
		<% end %>
	<% end %>
</div>