<div class="span9">
	<%= form_tag report_url, multipart: true do %>
	<h3>Добавить файл с выгрузкой задолжностей жильцов</h3>
		<%= file_field_tag :file %>
		<%= submit_tag "Добавить", id: "file_button" %>
		<div id="filedrag">или перенесите файл сюда</div><br>
		<output id="list"></output>
	<% end %>
	<% if flash[:notice] %>
		<%= notice %><a href="">x</a>
		<% if flash[:notice] == "Формат данной выгрузки не соответствует образцу, предоставленному вами ранее. Просим переделать выгрузки и повторить добавление. Образец можно скачать ниже. По возникшим вопросом Вы можете проконсультироваться по телефонам 373-64-10, 373-64-11." %>
			<div class="link"><%= link_to "Скачать образец", sample_url %></div>
		<% end %>
	<% end %>
	<%= csrf_meta_tag %>
</div>