<div class="span9">
	<%= form_tag report_url, multipart: true do %>
	<h3>Добавить файл с выгрузкой задолжностей жильцов</h3>
		<%= file_field_tag :file %>
		<%= submit_tag "Добавить", id: "file_button" %>
		<div id="filedrag">или перенесите файл сюда</div><br>
		<output id="list"></output>
	<% end %>
	<% if flash[:notice] %>
		<div class="notice">
		  <output id="list"></output>
          <%= notice %>
       </div>
			<div class="link"><%= link_to "Скачать образец", sample_url %></div>
	<% end %>
	<%= csrf_meta_tag %>
</div>