<tr>
<% @payments.each do |report| %>
<% report = report.split(';') %>
  <td><%= report[5] %></td>
  <td><%= report[1] %></td>
  <td><%= report[2] %></td>
  <td><%= report[3].to_f + report[4].to_f %></td>
  <td><%= report[7] %></td>
  <td><%= report[0] %></td>
</tr>
<% end %>