<div class="span9"><h3>Счётчики</h3> 
<div class="select-block span3">
<%= form_tag(counters_url, method: :post, remote: true) do %>
<%= select_tag(:month_id, options_for_select([["Январь", 1],["Февраль", 2], ["Май", 5],["Июнь", 6],["Июль", 7],[ "Август", 8],["Сентябрь", 9],["Октябрь", 10],["Ноябрь", 11],[ "Декабрь", 12]], DateTime.now.month))%></div>
<div id="button_small" ><%= submit_tag "Обновить"%></div>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Сумма</th>
      <th>Дата</th>
      <th>Снимок</th>
    </tr>
  </thead>
  <tbody id="report">
    <div id ="val"><% @report.each do |r| %></div>
    <%if @report %>
    <% date = DateTime.parse(r["created_at"]) %>
  <tr><td><%= r["reading"] %></td>
      <td><%= date.strftime("%Y-%m-%d") %></td>
      <% if  r["snapshot_url"] %> 
      	<td ><%= image_tag @path+r["snapshot_url"] %></td>
      <% else %>
      <td>Нет картинки</td>
      <% end %>
  </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
</div>