<script>
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>

<div class="span9">
<h3>Счётчики</h3> 
<div class="select-block span3">
  <%= form_tag(counters_url, method: :post, remote: true, id: "users", data: {users: @user_account}) do %>
    <%= select_tag(:month_id, options_for_select([["Январь", 1],["Февраль", 2], ["Май", 5],["Июнь", 6],["Июль", 7],[ "Август", 8],["Сентябрь", 9],["Октябрь", 10],["Ноябрь", 11],[ "Декабрь", 12]], DateTime.now.month))%></div>
    <%= text_field_tag(:user_account) %>
      <br>
      <br>
      <div id="button_small" ><%= submit_tag "Обновить" %></div>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Снимок</th>
      <th>Лицевой счёт</th>
      <th>Показания</th>
      <th>Дата</th>
    </tr>
  </thead>
  <tbody id="report">
  <%if @report %>
    <div id ="val"><% @report.each do |r| %></div>
      <% date = DateTime.parse(r["created_at"]) %>
      <% if  r["snapshot_url"] %>
        <tr><td class="td_with_image" ><%= link_to image_tag(@path+r["snapshot_url"]), @path+r["snapshot_url"], :class => "fancybox", :"data-fancybox-group" => "gallery" %></td>
      <% else %>
          <td>Нет картинки</td>
      <% end %>
      <td><%= r["user_id"].to_i %></td>
      <td><%= r["reading"] %></td>
        <td><%= date.strftime("%Y-%m-%d") %></td>
        </tr>
   <% end %>
  <% end %>
  </tbody>
</table>
</div>