.col-md-2.sidebar
	.sidebar-action
		= form_tag transactions_url, method: :post, remote: true do		
			= select_tag(:month_id, options_for_select([["Январь", 1], ["Февраль", 2], ["Март", 3], ["Апрель", 4], ["Май", 5],["Июнь", 6],["Июль", 7],[ "Август", 8],["Сентябрь", 9],["Октябрь", 10],["Ноябрь", 11],[ "Декабрь", 12]], DateTime.now.month), class: "form-control")
			= submit_tag "Обновить", class: "btn btn-success btn-sm"
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
	%table.table.table-striped.table-hover
		%thead
			%tr.success
				%th Лицевой счёт
				%th Адрес
				%th Сумма
				%th Дата
		%tbody#report
			- unless @report.nil?
				- @report.each do |r|
					%tr
						- r = r.split(';')
						%td= r[1]
						%td= r[2]
						%td= r[3]
						%td= r[7]