<div class="span9">
  <h3>Транзакции</h3> 
<div class="select-block span3">
<%= form_tag(transactions_url, method: :post, remote: true) do %>
<%= select_tag(:month_id, options_for_select([["Январь", 1],["Февраль", 2], ["Май", 5],["Июнь", 6],["Июль", 7],[ "Август", 8],["Сентябрь", 9],["Октябрь", 10],["Ноябрь", 11],[ "Декабрь", 12]], DateTime.now.month))%></div>
<div id="button_small" ><%= submit_tag "Обновить"%></div>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Лицевой счёт</th>
      <th>Адрес</th>
      <th>Сумма</th>
      <th>Дата</th>
    </tr>
  </thead>
  <tbody id="report">
    <% if @report != nil %>
    <div id ="val"><% @report.each do |r| %></div>
      <% date = DateTime.parse(r["date"]) %>
  <tr><td><%= r["user_account"] %></td>
      <td><%= r["address"] %></td>
      <td><%= r["amount"] %></td>
      <td><%= date.strftime("%Y-%m-%d") %></td>
  </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
</div>