!!!
%html
  %head
    %title АйЖКХ
    = stylesheet_link_tag root_path+"stylesheets/project.css"
    = stylesheet_link_tag root_path+"stylesheets/flat-ui.css"
    = stylesheet_link_tag root_path+"stylesheets/jquery.fancybox.css"
    = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
    = javascript_include_tag "application"
    = javascript_include_tag "counters.js.coffee"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"
    = javascript_include_tag "jquery.fancybox.pack.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
    = csrf_meta_tag
  %body
    - if current_user
      .navigation
        %ul.sidebar
          %li{:class => ('active' if current_page?(vendors_path))}= link_to "Аккаунт", vendors_path
          %li{:class => ('active' if current_page?(transactions_path))}= link_to "Транзакции", transactions_path
          %li{:class => ('active' if current_page?(counters_path))}= link_to "Показания счётчиков", counters_path
          - if session[:vendor_id] == 107
            %li{:class => ('active' if current_page?(energosbyt_report_url))}= link_to "Запросы пользователей", energosbyt_report_url
          %li= link_to "Выход", session_path("current"), method: "delete"
    = yield