!!!
%html
  %head
    %title АйЖКХ
    = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
    = stylesheet_link_tag "http://bootswatch.com/flatly/bootstrap.min.css"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
    = csrf_meta_tag
  %body
    - if current_user
      .navigation
        %ul.sidebar
          %li{:class => ('active' if current_page?(vendors_path))}= link_to "Аккаунт", vendors_path
          %li{:class => ('active' if current_page?(transactions_path))}= link_to "Транзакции", transactions_path
          %li{:class => ('active' if current_page?(meters_path))}= link_to "Показания счётчиков", meters_path
          - if session[:vendor_id] == 107
            %li{:class => ('active' if current_page?(energosbyt_report_url))}= link_to "Запросы пользователей", energosbyt_report_url
          %li= link_to "Выход", session_path("current"), method: "delete"
    = yield
  = javascript_include_tag :vendors if params[:controller] == "vendors"
  = javascript_include_tag :counters if params[:controller] == "meters"
  = javascript_include_tag :counters if params[:controller] == "counters"
>>>>>>> 71def3d50f21c90e3baaa96e3b22e6c4b797cd57
