!!!
%html
  %head
    %title АйЖКХ
    = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
    = stylesheet_link_tag "http://bootswatch.com/flatly/bootstrap.min.css"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
    = csrf_meta_tag
  %body
    - if current_user
      .navbar.navbar-default
        .navbar-header
          = link_to 'АйЖКХ', "http://izkh.ru/", class: 'navbar-brand'
        .container
          %ul.nav.navbar-nav
            %li{:class => ('active' if current_page?(transactions_path))}= link_to "Транзакции", transactions_path
            %li{:class => ('active' if current_page?(meters_path))}= link_to "Показания счётчиков", meters_path
            - if session[:vendor_id] == 107
              %li{:class => ('active' if current_page?(energosbyt_report_url))}= link_to "Запросы пользователей", energosbyt_report_url
            - if session[:vendor_id] == 20
              %li{:class => ('active' if current_page?(bids_path))}= link_to "Заявки клиентов", bids_path
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Выход", session_path("current"), method: "delete"
    .container-fluid
      = yield
  = javascript_include_tag :vendors  if params[:controller] == "vendors"
  = javascript_include_tag :counters if params[:controller] == "meters"
  = javascript_include_tag :meters if params[:controller] == "bids"